/*CSS Reset*/

@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');

/*Basic page formatting*/

html {
    font-family: Avenir, Helvetica, Futura, sans-serif;
    font-size: 24px;
    padding: 1em;

}


/*Vertical spacing and line-height of text elements*/

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin: 1em 0;
    line-height: 1.5;
}


/*Basic heading formatting*/

h1 {
    font-size: 3em;
    font-weight: bold;
    color: pink;
    text-transform: uppercase;
    letter-spacing: .4em;
}
div.row{
    text-align: center;
}

/* TRANSFORMS */
h1.rotate-up{
        perspective: 800px;
    margin-left: auto;
    margin-right: auto;
}
h1.rotate-up span {
    display: inline-block;
        animation: Flipup 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) both, 
            Flipdown .4s cubic-bezier(0.45, 0.03, 0.51, 0.95)  forwards;
    transform-origin: 50% 70%;

}
h1.rotate-up span:nth-child(1) {
    animation-delay: 0s, 2s;
    
}
h1.rotate-up span:nth-child(2) {
    animation-delay: .2s, 2.2s;
    
}

h1.rotate-up span:nth-child(3) {    
    animation-delay: .4s, 2.4s;

}
h1.rotate-up span:nth-child(4) {    
    animation-delay: .6s, 2.6s;

}
h1.rotate-up span:nth-child(5) {    
    animation-delay: .8s, 2.8s;

}
h1.rotate-up span:nth-child(6) {    
    animation-delay: 1s, 3s;

}
h1.rotate-up span:nth-child(7) {    
    animation-delay: 1.2s, 3.2s;

}
h1.rotate-up span:nth-child(8) {    
   animation: Flipup 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) both, 
            Flipdown 1s cubic-bezier(0,1.4,1,-0.63) forwards;
    animation-delay: 1.4s, 3.4s;

}


p {
}
.sprite {
    width: 500px;
    height: 500px;
    display: block;
    background: transparent url(img/walker_frames.png) 0 0 no-repeat;
    margin: 3em auto;
        animation: Walker 1s steps(10) infinite;
    transform-origin: 50% 100%;

}
.sprite:hover{
    animation:Walker-run 1s steps(10) both;
}
/* ANIMATION */

@keyframes Flipup {
    from {
        transform: rotateX(90deg);
          opacity: 0.3;
    }
    to {
        transform: rotateX(0deg);
            opacity:1;
    }
}
@keyframes Flipdown {
    to {
        transform: rotateX(180deg);
    }
}
@keyframes Walker {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 -5000px;
    }
}
@keyframes Walker-run {
    0% {
        background-position: 0 0;
         transform: translateX(0) scale(1);
    }
    100% {
        background-position: 0 -5000px;
        transform: translateX(-600px) scale(.01);
    }
}

/* SVG */
#cake-light {
    transform-origin: 50% 100%;
    animation: Lightup 1s cubic-bezier(0.45, 0.03, 0.51, 0.95) both;
}
#cake-body, #cake-line {
    fill: pink;
}
@keyframes Lightup {
    from {
        transform: scale(0.1);
        opacity: 0;
        fill: orange;
    }
    to {
        transform: scale(1);
        opacity: 1;
        fill: red;
    }
}